In [108]:
import numpy as np
import pandas as pd
import pandas as pd
import pandas as pd
import numpy as np
from sklearn.preprocessing import MinMaxScaler

In [109]:
from sklearn.kernel_approximation import RBFSampler
from sklearn.linear_model import SGDClassifier
from sklearn.model_selection import train_test_split
from sklearn import svm
from sklearn import utils
from sklearn.metrics import classification_report
from sklearn import metrics
from sklearn.linear_model import LogisticRegression
from sklearn.naive_bayes import GaussianNB
from sklearn.neighbors import KNeighborsClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import (precision_score, recall_score,f1_score, accuracy_score,mean_squared_error,mean_absolute_error)
from sklearn.ensemble import AdaBoostClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.preprocessing import Normalizer
from sklearn.model_selection import GridSearchCV
from sklearn.svm import SVC
from sklearn.metrics import confusion_matrix
from sklearn.metrics import (precision_score, recall_score,f1_score, accuracy_score,mean_squared_error,mean_absolute_error, roc_curve, classification_report,auc)

In [110]:
traindata=pd.read_csv("datasets/cotton_train_data.csv",sep=",")

In [111]:
traindata

     moisture  temp  pump
0         638    16     1
1         522    18     1
2         741    22     1
3         798    32     1
4         690    28     1
..        ...   ...   ...
154       876    40     1
155      1020    27     1
156       933    42     1
157       889    39     1
158       865    17     1

[159 rows x 3 columns]

In [112]:
testdata=pd.read_csv("datasets/cotton_test_data.csv",sep=",")

In [113]:

testdata

    moisture  temp  pump
0        926    18     1
1        923    10     1
2        853    29     1
3        922    23     1
4        998    28     1
5        966    16     1
6        950    13     1
7       1001    36     1
8        930    18     1
9        999    30     1
10       873    44     1
11       969    39     1
12       881    26     1
13       896    42     1
14       857    20     1
15      1010    10     1
16       947    41     1
17       859    20     1
18      1005    43     1
19       937    28     1
20       893    39     1
21       872    10     1
22       878    29     1
23       883    40     1
24       888    44     1
25      1009    21     1
26       917    33     1
27       974    28     1
28       858    19     1
29       918    19     1
30      1021    22     1
31       986    36     1
32       968    17     1
33      1015    35     1
34       914    35     1
35       941    13     1
36       902    45     1
37       894    42     1
38      1022    45     1
39       979    10     1

In [114]:
X = traindata.iloc[:,0:4]
Y = traindata.iloc[:,2]
C = testdata.iloc[:,2]
T = testdata.iloc[:,0:4]

In [115]:
scaler = Normalizer().fit(X)

In [116]:
trainX = scaler.transform(X)

In [117]:
scaler = Normalizer().fit(X)
trainX = scaler.transform(X)

In [118]:
scaler = Normalizer().fit(T)
testT = scaler.transform(T)

In [119]:
traindata = np.array(trainX)
trainlabel = np.array(Y)

In [120]:
testdata = np.array(testT)
testlabel = np.array(C)

In [121]:
from sklearn import svm
C_2d_range = [1e-2, 1, 1e2]
gamma_2d_range = [1e-1, 1, 1e1]

In [122]:
for C in C_2d_range:
    for gamma in gamma_2d_range:
      print("--------------------------------------------------")
      print("c")
      print(C)
      print("gamma")
      print(gamma)

--------------------------------------------------
c
0.01
gamma
0.1
--------------------------------------------------
c
0.01
gamma
1
--------------------------------------------------
c
0.01
gamma
10.0
--------------------------------------------------
c
1
gamma
0.1
--------------------------------------------------
c
1
gamma
1
--------------------------------------------------
c
1
gamma
10.0
--------------------------------------------------
c
100.0
gamma
0.1
--------------------------------------------------
c
100.0
gamma
1
--------------------------------------------------
c
100.0
gamma
10.0

In [123]:
model = svm.SVC(kernel='linear', C=100, gamma=1,probability=True) 
model = model.fit(traindata, trainlabel)

In [124]:
expected = testlabel
predicted = model.predict(testdata)

In [125]:
prob = model.predict_proba(testdata)
np.savetxt('svmpredicted.txt',prob)
print("--------------------------------------SVM----linear----------------------------------")
y_train1 = expected
y_pred = predicted
accuracy = accuracy_score(y_train1, y_pred)
recall = recall_score(y_train1, y_pred , average="micro")
precision = precision_score(y_train1, y_pred , average="micro")
f1 = f1_score(y_train1, y_pred, average="macro")

--------------------------------------SVM----linear----------------------------------

In [126]:
print("----------------------------------------------")
print("accuracy")
print("%.3f" %accuracy)
print("precision")
print("%.3f" %precision)
print("racall")
print("%.3f" %recall)
print("f1score")
print("%.3f" %f1)

----------------------------------------------
accuracy
1.000
precision
1.000
racall
1.000
f1score
1.000