In [70]:
import numpy as np
import pandas as pd
import pandas as pd
import pandas as pd
import numpy as np
from sklearn.preprocessing import MinMaxScaler

In [71]:
from sklearn.kernel_approximation import RBFSampler
from sklearn.linear_model import SGDClassifier
from sklearn.model_selection import train_test_split
from sklearn import svm
from sklearn import utils
from sklearn.metrics import classification_report
from sklearn import metrics
from sklearn.linear_model import LogisticRegression
from sklearn.naive_bayes import GaussianNB
from sklearn.neighbors import KNeighborsClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import (precision_score, recall_score,f1_score, accuracy_score,mean_squared_error,mean_absolute_error)
from sklearn.ensemble import AdaBoostClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.preprocessing import Normalizer
from sklearn.model_selection import GridSearchCV
from sklearn.svm import SVC
from sklearn.metrics import confusion_matrix
from sklearn.metrics import (precision_score, recall_score,f1_score, accuracy_score,mean_squared_error,mean_absolute_error, roc_curve, classification_report,auc)

In [72]:
traindata=pd.read_csv("tamil_girls_train_data.csv",sep=",")

In [73]:
traindata

,MEAN OF STE,MEAN OF ZC,VARIANCE OF STE,VARIANCE OF ZC,Q(STE) AT 25%,Q(STE) AT 50%,Q(STE) AT 75%,Q(STE) AT 100%,Q(ZC) AT 25%,Q(ZC) AT 50%,Q(ZC) AT 75%,Q(ZC) AT 100%,LABEL
0,56.895570,121.041667,1024.885014,4865.259058,32.687867,46.262718,64.757551,86.366385,72.7,86.2,101.5,172.7,0
1,77.916430,126.343750,4857.843575,4239.200605,6.957925,46.643447,87.107018,140.909094,81.8,102.5,115.9,160.5,0
2,72.668716,111.718750,3688.563317,2395.563508,2.183770,54.213773,94.386656,128.489418,75.9,91.6,106.0,147.8,0
3,60.858265,137.718750,3530.393157,7242.789315,1.753526,32.360519,59.239536,120.374040,82.9,100.6,123.4,160.5,0
4,61.475705,131.312500,3689.357891,7430.931452,2.700385,33.664051,65.254070,104.824666,78.0,93.9,107.4,154.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
505,83.935066,99.928571,14170.574800,243.148352,1.380964,13.619231,42.331397,164.462747,89.3,92.1,95.0,112.2,10
506,45.341427,105.142857,3696.469001,1642.901099,1.281045,4.332670,26.048895,110.525633,84.3,87.0,92.4,127.6,10
507,78.828243,104.928571,13608.115290,496.225275,1.965257,15.073270,29.462583,157.275791,90.3,93.0,95.8,124.3,10
508,50.442477,104.714286,3206.624004,552.835165,1.892284,16.495271,53.879445,83.377937,92.3,94.3,99.9,108.9,10
509,49.732900,95.500000,4825.191198,436.730769,2.005879,11.316202,25.291831,96.384292,83.3,92.1,95.8,104.6,10

In [74]:
testdata=pd.read_csv("tamil_girls_test_data.csv",sep=",")

In [75]:
testdata

,MEAN OF STE,MEAN OF ZC,VARIANCE OF STE,VARIANCE OF ZC,Q(STE) AT 25%,Q(STE) AT 50%,Q(STE) AT 75%,Q(STE) AT 100%,Q(ZC) AT 25%,Q(ZC) AT 50%,Q(ZC) AT 75%,Q(ZC) AT 100%,LABEL
0,27.082937,138.43750,870.865084,7212.770161,1.267595,9.572448,19.650221,56.549100,78.7,89.2,125.5,186.3,0
1,32.068132,117.43750,1850.315055,5244.641129,3.292630,7.756995,18.319673,59.401039,75.4,88.0,100.9,150.6,0
2,43.289193,130.75000,2856.582802,8714.516129,2.408521,15.242244,31.838229,87.521105,75.8,82.0,91.5,183.1,0
3,36.199752,133.40625,1856.005065,7421.345766,1.342160,8.373510,42.986162,64.399759,76.9,83.2,104.9,178.0,0
4,40.377368,116.09375,3187.735394,5262.861895,3.591830,10.141293,19.718811,76.083318,73.0,81.3,95.7,152.4,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
85,32.153858,84.65000,1854.294143,294.130769,3.895317,7.340674,15.490805,69.587510,67.0,80.5,93.5,101.0,9
86,32.337241,80.90000,2142.789401,257.784615,5.287430,8.661747,20.146041,50.726329,67.0,76.5,83.5,93.5,9
87,35.770193,77.47500,3366.613132,167.589103,4.897207,8.101787,17.928143,49.649099,64.5,73.0,83.0,89.0,9
88,38.668974,79.50000,3134.851123,210.564103,5.634635,10.268579,18.983428,55.506165,67.0,74.5,81.5,93.0,9
89,31.880102,80.42500,2711.289773,232.660897,4.366518,7.298799,11.434398,48.678989,67.0,73.0,86.0,93.5,9

In [76]:
X = traindata.iloc[:,0:11]
Y = traindata.iloc[:,12]
C = testdata.iloc[:,12]
T = testdata.iloc[:,0:11]

In [77]:
scaler = Normalizer().fit(X)
trainX = scaler.transform(X)

In [78]:
scaler = Normalizer().fit(X)
trainX = scaler.transform(X)

In [79]:
scaler = Normalizer().fit(T)
testT = scaler.transform(T)

In [80]:
traindata = np.array(trainX)
trainlabel = np.array(Y)

In [81]:
testdata = np.array(testT)
testlabel = np.array(C)

In [82]:
from sklearn import svm
C_2d_range = [1e-2, 1, 1e2]
gamma_2d_range = [1e-1, 1, 1e1]

In [83]:
for C in C_2d_range:
    for gamma in gamma_2d_range:
      print("--------------------------------------------------")
      print("c")
      print(C)
      print("gamma")
      print(gamma)

--------------------------------------------------
c
0.01
gamma
0.1
--------------------------------------------------
c
0.01
gamma
1
--------------------------------------------------
c
0.01
gamma
10.0
--------------------------------------------------
c
1
gamma
0.1
--------------------------------------------------
c
1
gamma
1
--------------------------------------------------
c
1
gamma
10.0
--------------------------------------------------
c
100.0
gamma
0.1
--------------------------------------------------
c
100.0
gamma
1
--------------------------------------------------
c
100.0
gamma
10.0

In [84]:
model = svm.SVC(kernel='linear', C=100, gamma=1,probability=True) 
model = model.fit(traindata, trainlabel)

In [85]:
expected = testlabel
predicted = model.predict(testdata)

In [86]:
prob = model.predict_proba(testdata)
np.savetxt('svmpredicted.txt',prob)
print("--------------------------------------SVM----linear----------------------------------")
y_train1 = expected
y_pred = predicted
accuracy = accuracy_score(y_train1, y_pred)
recall = recall_score(y_train1, y_pred , average="weighted")
precision = precision_score(y_train1, y_pred , average="weighted")
f1 = f1_score(y_train1, y_pred, average="weighted")

--------------------------------------SVM----linear----------------------------------

In [87]:
print("----------------------------------------------")
print("accuracy")
print("%.3f" %accuracy)
print("precision")
print("%.3f" %precision)
print("racall")
print("%.3f" %recall)
print("f1score")
print("%.3f" %f1)

----------------------------------------------
accuracy
0.489
precision
0.501
racall
0.489
f1score
0.445